.gallery-section {
    background-color: #fff; 
}

.section-title {
    color: #333;
}


.gallery-item-wrapper {
    position: relative;
    overflow: hidden; 
    border-radius: 12px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 0; 
}

.gallery-image {
    width: 100%;
   
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(86, 171, 47, 0.5); 
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}


.caption {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    transform: translateY(20px);
    transition: transform 0.4s ease-in-out;
}


.gallery-item-wrapper:hover .gallery-image {
    transform: scale(1.05); 
}

.gallery-item-wrapper:hover .overlay {
    opacity: 1; 
}

.gallery-item-wrapper:hover .caption {
    transform: translateY(0); 
}


@media (max-width: 768px) {
    .gallery-image {
        height: 250px;
    }
}
@media (max-width: 576px) {
    .gallery-image {
        height: 200px;
    }
}